<!doctype html>
<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
<title>Item Finder</title>

<div style='display: flex; flex-wrap: wrap;'>
  <div style='margin: 5px'>
    <a href="/">Index</a>
  </div>
  <div style='margin: 5px'>
    <a href="/categories">Categories</a>
  </div>
</div>

<div style='display: flex; flex-wrap: wrap;'>
  <div style='margin: 10px'>
    <p>Category Count: {{category_count}}</p>
  </div>
</div>

<div id="categories-table"></div>


<script type="text/javascript">
  records = [
    {% for record in records %}
      { 
        title: "{{record.title}}",
        category_url: "/category/{{record.id}}",
        amazon_min_price: "{{record.amazon_min_price}}", 
        amazon_max_price: "{{record.amazon_max_price}}",
        amazon_total_results: "{{record.amazon_total_results}}", 
        amazon_max_rating: "{{record.amazon_max_rating}}", 
        amazon_min_rating: {{record.amazon_min_rating}}, 
        number_of_shopify_sites: {{record.number_of_shopify_sites}},
      }, 
    {% endfor %}
  ];

  var table = new Tabulator("#categories-table", {
    data:records, //assign data to table
    layout:"fitColumns", //fit columns to width of table (optional)
    columns:[ //Define Table Columns
      {title:"Category", headerFilter:"input", field:"title", width:200, formatter:"link", formatterParams:{labelField:"title", urlField: "category_url", target:"_blank"}},
      {title:"Amazon Min Price", field:"amazon_min_price", hozAlign:"left"},
      {title:"Amazon Max Price", field:"amazon_max_price", hozAlign:"left"},
      {title:"Amazon Total Result", field:"amazon_total_results", hozAlign:"left"},
      {title:"Amazon Max Rating", field:"amazon_max_rating", hozAlign:"left"},
      {title:"Amazon Min Rating", field:"amazon_min_rating", hozAlign:"left"},
      {title:"Number of Shopify Sites", field:"number_of_shopify_sites", hozAlign:"left"}
    ]
  });

</script>
