<!doctype html>
<html>
  <head>
    <link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
    <title>Item Finder</title>
  </head>
  <body>
    <div style='display: flex; flex-wrap: wrap;'>
      <div style='margin: 5px'>
        <a href="{{url_for('index')}}">Index</a>
      </div>
      <div style='margin: 5px'>
        <a href="{{url_for('categories')}}">Categories</a>
      </div>
      <div style='margin: 5px'>
        <a href="{{url_for('items')}}">Items</a>
      </div>
    </div>

    <div style='display: flex; flex-wrap: wrap;'>
      <h2>Item: "{{records[0].Item.title}}"</h2>
    </div>


    <div id="items-table"></div>

    <div style='display: flex; flex-wrap: wrap;'>
      <h2>Category: "{{records[0].Category.title}}"</h2>
    </div>

    <div id="category-table"></div>
  </body>
  <footer>
    <script type="text/javascript">
      category_record = [
        { 
            title: "{{records[0].Category.title}}",
            category_url: "/category/{{records[0].Category.id}}",
            amazon_average_price: "{{'%0.2f' | format(records[0].Category.amazon_average_price | float)}}",
            calculated_profit: "{{'%0.2f' | format(records[0].profit|float)}}",
            average_min_break_even: "{{'%0.2f' | format(records[0].Category.average_min_break_even | float)}}",
            average_min_break_even_amazon: "{{'%0.2f' | format(records[0].Category.average_min_break_even_amazon | float)}}",
            amazon_deviation_price: "{{'%0.2f' | format(records[0].Category.amazon_deviation_price | float)}}",
            amazon_total_results:  "{{records[0].Category.amazon_total_results}}",
            amazon_average_rating: "{{'%0.2f' | format(records[0].Category.amazon_average_rating | float)}}",
            amazon_deviation_rating: "{{'%0.2f' | format(records[0].Category.amazon_deviation_rating | float)}}",
            number_of_shopify_sites: "{{records[0].Category.number_of_shopify_sites}}"
          }
      ]

      item_records = [
          { 
            item_image: "{{records[0].Item.image_url}}",
            item_title: "{{records[0].Item.title}}", 
            item_url: "{{records[0].Item.url}}",
            amazon_category: "{{records[0].Item.amazon_category}}", 
            category: "{{records[0].Category.title}}", 
            price: "{{records[0].Item.price}}", 
            available: "{{records[0].Item.available_quantity}}",
            shipping_price: "{{records[0].Item.shipping_price}}", 
            shipping_price_10_units: "{{records[0].Item.shipping_price_10_units}}", 
            dimensions: "w: {{'%0.2f' | format(records[0].Item.width | float)}}, l: {{'%0.2f' | format(records[0].Item.length | float)}}, h: {{'%0.2f' | format(records[0].Item.height | float)}}", 
            weight: "{{'%0.2f' | format(records[0].Item.weight | float)}}", 
            amazon_fee: "{{records[0].Item.amazon_fee}}"
          }, 
      ];

      var table = new Tabulator("#category-table", {
        data:category_record, //assign data to table
        layout:"fitColumns", //fit columns to width of table (optional)
        columns:[ //Define Table Columns
          {title:"Amazon Average Price", field:"amazon_average_price", hozAlign:"left"},
          {title:"Calculated Profit", field:"calculated_profit", hozAlign:"left"},
          {title:"Amazon Min Break Even ", field:"average_min_break_even", hozAlign:"left"},
          {title:"Amazon Min Break Even Amazon", field:"average_min_break_even_amazon", hozAlign:"left"},
          {title:"Amazon Deviation Price", field:"amazon_deviation_price", hozAlign:"left"},
          {title:"Amazon Total Results", field:"amazon_total_results", hozAlign:"left"},
          {title:"Amazon Average Ratings", field:"amazon_average_rating", hozAlign:"left"},
          {title:"Amazon Deviation Ratings", field:"amazon_deviation_rating", hozAlign:"left"},
          {title:"Number of Shopify Sites", field:"number_of_shopify_sites", hozAlign:"left"}
        ]
      });

      var table = new Tabulator("#items-table", {
        data:item_records, //assign data to table
        layout:"fitColumns", //fit columns to width of table (optional)
        columns:[ //Define Table Columns
          {title:"", field:"item_image",formatter:"image", formatterParams:{height:"50px", width:"50px"}},
          {title:"Item", field:"item_title", width:200, formatter:"link", formatterParams:{labelField:"item_title", urlField:"item_url", target:"_blank"}},
          {title:"Category", field:"category", hozAlign:"left"},
          {title:"Amazon Category", field:"amazon_category", hozAlign:"left"},
          {title:"Price", field:"price", hozAlign:"left"},
          {title:"Available", field:"available", hozAlign:"left"},
          {title:"Shipping Price", field:"shipping_price", hozAlign:"left"},
          {title:"Shipping Price 10 units", field:"shipping_price_10_units", hozAlign:"left"},
          {title:"Dimensions", field:"dimensions", hozAlign:"left"},
          {title:"Weight", field:"weight", hozAlign:"left"},
          {title:"Amazon Fee", field:"amazon_fee", hozAlign:"left"}
        ]
      });
    </script>
  </footer>
</html>
